{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block title %} {% endblock title %}</title>
    <!-- Favicon -->
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />
    <!-- Inter font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet"/>
    <!-- Tailwind -->
    <script src="{% static 'js/tailwindcss_3_0_23.js' %}"></script>
    <!-- Tailwind Elements CSS -->
    <link rel="stylesheet" href="{% static 'css/index.min.css' %}" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <style></style>
  </head>

  <body>
    <!-- Start your project here-->

    <!-- The header -->
      <header>
        <nav>
          <section class=" lg:px-7 px-2.5 py-1.5 bg-gray-800 shadow-md border-ml">
            <main class="flex items-center justify-between">
              <!-- Logo and menu -->
              <section class="flex items-center space-x-8">
                <!-- Logo -->
                <a href="javascript:void(0)">
                  <div class="flex items-center space-x-2">
                    <img src="{% static 'img/3305206_cactus_desert_hot_nature_sky_icon(1).png' %}" alt="logo" class="w-12 rounded object-cover">
                    <h2 class="text-sm lg:text-lg font-bold text-gray-200 capitalize tracking-wider header_title">Desert Inc.</h2>
                  </div>
                </a>
                <!-- menu -->
                <div class="lg:block hidden">
                  <ul class="flex items-center space-x-5">
                    <li class="active nav_link">
                      <a href="javascript:void()" class="text-md capitalize">
                        Dashboard
                      </a>
                    </li>

                    <li>
                      <a href="javascript:void(0)" class="text-md capitalize nav_link">
                        Team
                      </a>
                    </li>

                    <li>
                      <a href="javascript:void(0)" class="text-md capitalize nav_link">
                        Projects
                      </a>
                    </li>

                    <li>
                      <a href="javascript:void(0)" class="text-md capitalize nav_link">
                        Calendar
                      </a>
                    </li>
                  </ul>
                </div>
              </section>

              <!-- Search & notify & user-icon -->
              <section class="flex items-center space-x-5">
                <div>
                  <ul class="flex items-center space-x-4">
                    <!-- Search-->
                    <li class="lg:block hidden">
                      <div class="relative">
                        <div class="absolute left-1.5 top-1.5"><!--search icon -->
                          <svg class="w-6 h-6 text-gray-600" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z">
                            </path>
                          </svg>
                        </div>
                        <input type="search" class="w-full h-8 p-1 rounded-md bg-gray-700 focus:bg-gray-100 focus:ring ring-yellow-300 focus:outline-none pl-8" placeholder="Search">
                      </div>
                    </li>
                    <!--notify -->
                    <li class="mt-1">
                      <button class="focus:outline-none">
                        <svg id="Layer_2"  class="lg:w-6 lg:h-6 w-5 h-5 text-gray-400 hover:text-gray-200 focus:text-200" fill="none" stroke="white" viewBox="0 0 60 78"  xmlns="http://www.w3.org/2000/svg">
                          <title/><g id="Layer_2"><g id="Layer_3"><path d="M54.2,54.4l-5.1-6.3c-0.5-0.7-0.8-1.5-0.8-2.4v-13c0-8.1-5.4-15.3-13.2-17.5v-5.1c0-2.8-2.3-5-5-5s-5,2.3-5,5v5    c-7.9,2.3-13.3,9.5-13.2,17.6v13c0,0.9-0.3,1.7-0.8,2.4l-5.1,6.3c-0.4,0.5-0.7,1.2-0.7,1.9v7.9h49.8v-7.9    C54.9,55.6,54.6,54.9,54.2,54.4z M28,10.1c0-1.1,0.9-2,2-2s2,0.9,2,2v4.5c-1.4-0.2-2.7-0.2-4.1,0V10.1z M51.9,61.1H8.1v-4.8    l5.1-6.3c1-1.2,1.5-2.7,1.5-4.3v-13c0-8.4,6.8-15.3,15.3-15.3s15.3,6.8,15.3,15.3v13c0,1.6,0.5,3.1,1.5,4.3l5.1,6.3V61.1z"/><path d="M28,20.8v3c6.1,0,11.1,5,11.1,11.1c0,0,0,0,0,0h3C42.1,27.1,35.8,20.8,28,20.8C28,20.8,28,20.8,28,20.8z"/><path d="M30,69.9c-2.9,0-5.2-2.3-5.2-5.2h-3c0,4.5,3.7,8.2,8.2,8.2c4.5,0,8.2-3.7,8.2-8.2h-3C35.2,67.6,32.9,69.9,30,69.9z"/></g></g>
                        </svg>
                      </button>
                    </li>
                    <!-- user-icon -->
                    <li>
                      <a href="javascript:void(0)">
                        <img src="{% static 'img/403022_business man_male_user_avatar_profile_icon.png' %}" alt="user" class="w-7 object-cover rounded-full"> <!--user icon -->
                      </a>
                    </li>
                    <!-- mobile button-->
                    <li class="lg:hidden block">
                      <button class="focus:outline-none focus:bg-gray-800 w-7 h-7 p-1 rounded focus:ring ring-yellow-300 ring-opacity-50" onclick="mobMenu()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="lg:w-6 lg:h-6 w-6 h-6 text-gray-400 hover:text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path id="bar" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h6"/>
                          <path id="close_bar" class="hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                        </svg>
                      </button>
                    </li>
                  </ul>
                </div>
              </section>
            </main>
          </section>

          <!-- mobile_nav-->
          <section class="lg:hidden block bg-yellow-100 p-4 space-y-4 hidden" id="menu">
            <div>
              <ul class="flex flex-col space-y-5">
                <li class="active nav_link">
                  <a href="javascript:void(0)" class="text-md capitalize text-gray-500 hover:text-yellow-500 nav_link">Dashboard</a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-md capitalize text-gray-500 hover:text-yellow-500 nav_link">Team</a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-md capitalize text-gray-500 hover:text-yellow-500 nav_link">Projects</a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-md capitalize text-gray-500 hover:text-yellow-500 nav_link">Calendar</a>
                </li>
              </ul>
            </div>

            <!-- mobile Search Bar-->
            <section class="w-full">
              <div class="relative">
                <div class="absolute left-1.5 top-1.5">
                  <svg class="w-5 h-5 text-gray-300" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z">
                    </path>
                  </svg>
                </div>
                <input class="w-full h-8 p-1 rounded-md border border-gray-300 focus:ring ring-yellow-300 ring-opacity-75 focus:outline-none pl-8" type="search" placeholder="search">
              </div>
            </section>
          </section>
        </nav>
      </header>

      <section class="container mx-auto">
        <p class="p-7">
          <div class="container flex justify-center mx-auto">
            <div class="w-full p-3 bg-gray-100">
                <ol class="flex items-center text-blue-800">
                  {% block breadcrumbs %}
                  {% endblock breadcrumbs %}
                </ol>
            </div>
          </div>
        </p>
        <p class="p-2">
          {% block content %}
          {% endblock content %}
        </p>
      </section>
	
    <!-- End your project here-->
    <!-- Tailwind Elements JS -->
    <script type="text/javascript" src="{% static 'js/index.min.js' %}"></script>

    <!-- JQuery CDN -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!-- Custom scripts -->
    <script>
      const navLink = document.querySelectorAll('.nav_link');

      function LinkAct(){
        navLink.forEach(n => n.classList.remove('active'));
        this.classList.add('active');
      }

      navLink.forEach(n => n.addEventListener('click', LinkAct));

      function mobMenu() {
        if($("#menu").hasClass("hidden") ){
          $("#menu").removeClass("hidden");
          $("#bar").css({display: "none"});
          $("#close_bar").css({display: "block"});
        }
        else {
          $("#menu").addClass("hidden");
          $("#bar").css({display: "block"});
          $("#close_bar").css({display: "none"});
        }
      }
    </script>
  </body>
</html>
