
{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login Page
{% endblock title %}

{% block breadcrumbs %}
    <li class="flex items-center ml-1">
        <a href="{% url 'home' %}" class="font-bold">Change password</a>
        <!-- <span class="ml-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
        </span> -->
    </li>
{% endblock breadcrumbs %}

{% block content %}
<div class="p-4 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700">
    <form class="space-y-6" method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="w-full items-center mt-2 px-6 py-2 text-sm text-white bg-blue-600 rounded hover:bg-blue-700">Change password</button>
    </form>
</div>
{% endblock content %}