{% extends 'base.html' %}
{% load static %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}
    {% if validlink %}
        <h3>Change password for {{ for.user.username }}</h3>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="w-full items-center mt-2 px-6 py-2 text-sm text-white bg-blue-600 rounded hover:bg-blue-700">Change password</button>
        </form>
    {% else %}
        <h3>Reset your password</h3>
        <div>
            It looks like you clicked on an invalid password reset link. please try a again.
        </div>
        <a href="{% url 'reset_password' %}">request a new password reset link</a>
    {% endif %}
{% endblock %}