
{% extends 'base.html' %}

{% block title %}
    Topics Page
{% endblock title %}

{% block breadcrumbs %}
    <li class="flex items-center ml-1">
        <a href="{% url 'home' %}" class="font-bold">Boards</a>
        <span class="ml-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
        </span>
    </li>
    <li class="flex items-center ml-1">
        <a href="#" class="font-bold text-gray-500">{{ board.name}}</a>
    </li>
{% endblock breadcrumbs %}

{% block content %}
<div>
    <a href="{% url 'new_topic' board.id %} " class="inline-flex items-center mt-2 my-3 px-6 py-2 text-sm text-white bg-blue-600 rounded hover:bg-blue-700">New topic</a>
</div>
<table class="w-full">
    <thead class="bg-gray-800 text-white h-12">
        <tr class="">
            <th class="text-left pl-2">Topic</th>
            <th>Starter</th>
            <th>Replies</th>
            <th>Views</th>
            <th>Last Update</th>
        </tr>
    </thead>
    <tbody>
        {% for topic in topics %}
        <tr class="border-b border-gray-400 h-20">
            <td class="pl-2"><a href="{% url 'topic_posts' board.id topic.id %}" class="text-blue-900 font-bold">{{ topic.subject }}</a> </td>
            <td class="border-b border-gray-400 text-center">{{ topic.starter.username }}</td>
            <td class="border-b border-gray-400 text-center">{{ topic.replies }}</td>
            <td class="border-b border-gray-400 text-center">{{ topic.views }}</td>
            <td class="border-b border-gray-400 text-center">{{ topic.last_updated }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}