
{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ topic.subject }}
{% endblock title %}

{% block breadcrumbs %}
    <li class="flex items-center ml-1">
        <a href="{% url 'home' %}" class="font-bold">Boards</a>
        <span class="ml-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
        </span>
    </li>
    <li class="flex items-center ml-1">
        <a href="{% url 'board_topics' topic.board.pk %}" class="font-bold">{{ topic.board.name }}</a>
        <span class="ml-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
        </span>
    </li>
    <li class="flex items-center ml-1">
        <a href="#" class="font-bold text-gray-500">{{ topic.subject }}</a>
    </li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="px-6 mt-2 py-1 font-medium rounded-sm text-xl text-blue border-blue-800">
        <a href="{% url 'reply_topic' topic.board.pk topic.id %}" class="">
            Reply
        </a>
    </div>

    {% for post in topic.posts.all %}
    <div class="container mx-auto px-4 mb-4 border">
        <div class="flex flex-row">
            <div class="">
                <img class="mt-2" src="{% static 'img/403022_business man_male_user_avatar_profile_icon.png' %}" alt="{{ post.created_by.username }}">
                <div class="text-center">
                    <small>Posts: {{ post.created_by.posts.count }} </small>
                </div>
            </div>
            <div class="flex-1">
                <div class="flex flex-col h-full ml-4">
                    <div class="">
                        <ul class="flex flex-row justify-between">
                            <li class="py-2"> <strong>{{ post.created_by.username }}</strong> </li>
                            <li> <small class="text-gray-700">{{ post.created_at }}</small> </li>
                        </ul>
                    </div>
                    <p class="flex-1 mt-4">{{ post.message }}</p>
                    {% if post.created_by == user %}
                        <div>
                            <a href="{% url 'edit_post' post.topic.board.pk post.topic.pk post.pk %}" >
                                <button type="button" class="hover:bg-blue-800 hover:text-white bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
                                    Edit
                                </button>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor%}
{% endblock content %}